*{
	font-family:sans-serif;
	background-color:PaleTurquoise;
}

.nav1{	
	font-size: 2em;	
	font-weight: bold;
}

.nav2{
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: line-through;
	
}

.nav3{
	font-weight: bold;
	text-decoration: underline;
}

